<p>Table with class <em>d3graph</em> and a unique <em>Id</em> will be converted to D3 graph. <em>data-graph-*</em> attributres on table are used to customize the graph:</p>

<h4>Required attributes</h4>

<ul>
  <li>data-graph-type="c3"|"pyramid"
  <ul>
    <li>c3 is basic type for all line/bar/scatter/pie, pyramid is an exception.</li>
    <li>For pyramid, optionnal advanced attributes are not supported.</li>
  </ul>
  </li>
</ul>

<h4>Optionnal basic attributes</h4>

<ul>
  <li>data-graph-render="line"|"spline"|"step"|"area"|"area-spline"|"area-step"|"bar"|"scatter"|"pie"|"donut"|"gauge"
  <ul>
    <li>All possible rendre for c3 type.</li>
  </ul>
  </li>
  <li>data-graph-title="This is the accessibility title of my graph"
  <ul>
    <li>Title used for accessibility on the svg element.</li>
  </ul>
  </li>
  <li>data-graph-desc="This is the accessibility description of my graph"
  <ul>
    <li>Description used for accessibility on the svg element.</li>
  </ul>
  </li>
  <li>data-graph-xaxis-label="X title"
  <ul>
    <li>Legend for the x axis.</li>
  </ul>
  </li>
  <li>data-graph-yaxis-label="Y title"
  <ul>
    <li>Legend for the y axis.</li>
  </ul>
  </li>
  <li>data-graph-width="960"
  <ul>
    <li>Set a specific width in pixels without suffix, if not set will take all width.</li>
  </ul>
  </li>
  <li>data-graph-height="400"
  <ul>
    <li>Set a specific height in pixels without suffix, if not set will take all width.</li>
  </ul>
  </li>
</ul>

<h4>Optionnal advanced attributes​</h4>

<ul>
  <li>data-graph-colors="#7f7f7f, #bfbfbf, #d9d9d9, #92cddc, #2b8cbe"
  <ul>
    <li>Choose specific colors, can be rgb or color keywords names.</li>
    <li>The order match the columns order.</li>
  </ul>
  </li>
  <li>data-graph-data-label="false"
  <ul>
    <li>Add the value on the data.</li>
  </ul>
  </li>
  <li>data-graph-tooltip="true"
  <ul>
    <li>Show tooltip when hovering the data.</li>
  </ul>
  </li>
  <li>data-graph-grouped-tooltip="true"
  <ul>
    <li>Group or not the values in the tooltip.</li>
  </ul>
  </li>
  <li>data-graph-interaction="false"
  <ul>
    <li>Remove all datas interactions.</li>
  </ul>
  </li>
  <li>data-graph-grid-x="false"
  <ul>
    <li>Show or hide the grid for the x axis.</li>
  </ul>
  </li>
  <li>data-graph-grid-y="false"
  <ul>
    <li>Show or hide the grid for the y axis.</li>
  </ul>
  </li>
  <li>data-graph-rotated="true"
  <ul>
    <li>Rotate the graph (x axis will be on the left).</li>
  </ul>
  </li>
  <li>data-graph-padding="20, 20 ,50, 50"
  <ul>
    <li>Padding, as Top, Right, Bottom, Left, adjust depending axis legend or labels.</li>
  </ul>
  </li>
  <li>data-graph-legend="false"
  <ul>
    <li>Hide / show the legend.</li>
  </ul>
  </li>
  <li>data-graph-legend-position="bottom"|"right"|"top-right"|"bottom-right"|"top-left"|"bottom-left"
  <ul>
    <li>Position of the legend.</li>
  </ul>
  </li>
  <li>data-graph-legend-step="5"
  <ul>
    <li>Choose how much line are on legend before break.</li>
  </ul>
  </li>
  <li>data-graph-types="line, bar, step"
  <ul>
    <li>Multiple types in the same graph, by order of column, eg column 1 is line, column 2 is bar, column 3 is step.</li>
  </ul>
  </li>
  <li>data-graph-xaxis-show="true"
  <ul>
    <li>Show / hide the x axis.</li>
  </ul>
  </li>
  <li>data-graph-xaxis-type="category"|"indexed"</li>
  <li>data-graph-xaxis-centered="false"</li>
  <li>data-graph-xaxis-rotation="-40"
  <ul>
    <li>X axis legend text rotation.</li>
  </ul>
  </li>
  <li>data-graph-yaxis-show="true"
  <ul>
    <li>Show / hide the y axis.</li>
  </ul>
  </li>
  <li>data-graph-yaxis-max="100"</li>
  <li>data-graph-yaxis-min="-100"</li>
  <li>data-graph-yaxis-inverted="true"</li>
  <li>data-graph-yaxis-center=""</li>
  <li>data-graph-yaxis-prefix="$"|"USD"|"NZD"</li>
  <li>data-graph-yaxis-suffix="%"|"/m"|"g"</li>
  <li>data-graph-groups="[[1, 3],[2, 4]]"
  <ul>
    <li>Column groups, group your datas, eg: data column 1 with 3, column 2 with 4.</li>
  </ul>
  </li>
</ul>

<h5>Specific to line&nbsp;graph</h5>

<ul>
  <li>data-graph-line-dashed="[2, 3]"
  <ul>
    <li>Specify if some lines are dotted, give column number.</li>
  </ul>
  </li>
  <li>data-graph-dot="true"
  <ul>
    <li>Hide or show dot on the line.</li>
  </ul>
  </li>
</ul>

<h5>Specific to line / scatter graph</h5>

<ul>
  <li>data-graph-dot-r="2.5"
  <ul>
    <li>Diameter of the dot.</li>
  </ul>
  </li>
</ul>

<h5>Specific to line, specify if some lines are dotted, give column number.</h5>

<ul>
  <li>data-graph-line-dashed="[2, 3]"</li>
</ul>

<h5>Specific to bar graph</h5>

<ul>
  <li>data-graph-bar-ratio="0.9"
  <ul>
    <li>Ratio of the bar width, add padding.</li>
  </ul>
  </li>
</ul>

<h5>Experimental</h5>

<ul>
  <li>data-graph-y2axis-show="false"</li>
  <li>data-graph-y2axis-source="1"</li>
  <li>data-graph-y2axis-max=""</li>
  <li>data-graph-y2axis-min=""</li>
</ul>
